@using CSharpWebProject.Models
@model PaginatedList<CSharpWebProject.Models.ViewModels.CompetitorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Competitors</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Competitor Name
            </th>
            <th>
                Competitor Best Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BestTime)
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="RemoveUser" asp-controller="Competitions" asp-route-competitionId="@item.CompetitionId" asp-route-competitorId="@item.Id">Remove User</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a href="/Admin/Competitors/Index?page=@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a href="/Admin/Competitors/Index?page=@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
