@model IEnumerable<CSharpWebProject.Models.EntityModels.Competition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sponsor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sponsor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @*<a href="/Admin/Competitions/Edit?id=@item.Id" class="btn btn-outline-dark">Edit</a> |
                <a href="/Admin/Competitions/Details?id=@item.Id" class="btn btn-dark">Details</a> |
                <a href="/Admin/Competitions/Delete?id=@item.Id" class="btn btn-danger">Delete</a>*@

                <a  class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a  class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a  class="btn btn-dark" asp-action="Competitors" asp-route-id="@item.Id">Competitors</a>
            </td>
        </tr>
}
    </tbody>
</table>
