@using CSharpWebProject.Models
@model PaginatedList<CSharpWebProject.Models.ViewModels.CompetitionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Competitions:</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Sponsor
            </th>
            <th>
                Open
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sponsor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpen)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a class="btn btn-dark" asp-action="Competitors" asp-route-id="@item.Id">Competitors</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a href="/Admin/Competitions/Index?page=@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a href="/Admin/Competitions/Index?page=@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
