@model List<CSharpWebProject.Models.ViewModels.RecordSolveTimeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Leaderboard:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Place
            </th>
            <th>
                Result
            </th>
            <th>
                Username
            </th>
            <th>
                Competition Name
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i < Model.Count; i++)
        {
            {
                var item = Model[i - 1];
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    @if (User.IsInRole("Administrator"))
                    {
                    <td>
                        <a href="/Admin/SolveTimes/Edit?id=@item.Id" class="btn btn-outline-dark">Edit</a> | 
                        <a href="/Admin/SolveTimes/Details?id=@item.Id" class="btn btn-dark">Details</a> | 
                        <a href="/Admin/SolveTimes/Delete?id=@item.Id" class="btn btn-danger">Delete</a>

                       </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
