@using CSharpWebProject.Models.ViewModels
@model CompetitionDetailsViewModel

<div class="card mb-3">
    <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/93/16/7857e51fac192f4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <h6 class="text-right">Sponsor: @Model.Sponsor</h6>
        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
        <h6 class="text-center">Competitors Count: @Model.Competitors.Count</h6>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Competitor Name</th>
                    <th scope="col">Best Time</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competitor in Model.Competitors)
                {
                    <tr>
                        <td>@competitor.Name</td>
                        <td>@competitor.BestTime<td>
                        <td>@competitor.BestTimeDate<td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.Competitors.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Competitors.HasNextPage ? "disabled" : "";
        }

        <a href="/Competitions/Details?id=@Model.Id&page=@(Model.Competitors.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a href="/Competitions/Details?id=@Model.Id&page=@(Model.Competitors.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>
