@using CSharpWebProject.Models.ViewModels
@model CompetitionsIndexViewModel

<hr />
<h1 class="text-center">Open Competitions: </h1>
<hr />

@foreach (var openCompetition in Model.OpenCompetitions)
{
    <div class="card text-center">
        <div class="card-header">
            Open
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="/Competitions/Details?id=@openCompetition.Id">@openCompetition.Name</a></h5>
            <p class="card-text">@openCompetition.Description</p>
            @if (openCompetition.Competitors.Any(c => c.User.UserName == User.Identity.Name))
            {
                if (!openCompetition.Competitors.FirstOrDefault(c => c.User.UserName == User.Identity.Name).SubmittedTimes)
                {
                    <a href="/Competitions/Timer?id=@openCompetition.Id" class="btn btn-primary">Enter</a>
                }
                <a href="/Competitions/Leave?id=@openCompetition.Id" class=" btn btn-primary">Leave Competition</a>
            }
            else
            {
                <a href="/Competitions/Join?id=@openCompetition.Id" class=" btn btn-primary">Join Competition</a>
            }
            @if (User.IsInRole("Administrator"))
            {
                <a href="Admin/Competitions/Close?id=@openCompetition.Id" class="btn btn-danger">Close Competition</a>
            }

            </div>
        <div class="card-footer text-muted">
            End Date: @openCompetition.EndDate
        </div>
    </div>
}
<hr />
<h1 class="text-center">Closed Competitions: </h1>
<hr />
@foreach (var closedCompetition in Model.ClosedCompetitions)
{
    <div class="card text-center">
        <div class="card-header">
            Closed
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="/Competitions/Details?id=@closedCompetition.Id">@closedCompetition.Name</a></h5>
            <p class="card-text">@closedCompetition.Description</p>
        </div>
        <div class="card-footer text-muted">
            End Date: @closedCompetition.EndDate
        </div>
    </div>
}