@using CSharpWebProject.Models.ViewModels
@model CompetitionDetailsViewModel

<div class="card mb-3">
    <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/93/16/7857e51fac192f4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="text-center">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <h6 class="text-right">Sponsor: @Model.Sponsor</h6>
        <h6 class="text-center">Competitors Count: @ViewBag.CompetitorsCount</h6>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Competitor Name</th>
                    <th scope="col">Best Time</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competitor in Model.Competitors)
                {
                    {
                        if (competitor.Name == User.Identity.Name)
                        {
                            <tr class="table-success">
                                <td>@competitor.Name</td>
                                <td>@competitor.BestTime
                                <td>@competitor.BestTimeDate
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@competitor.Name</td>
                                <td>@competitor.BestTime
                                <td>@competitor.BestTimeDate
                            </tr>
                        }
                    }

                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.Competitors.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Competitors.HasNextPage ? "disabled" : "";
        }

        @if (Model.Competitors.Count >= 5 && Model.Competitors.HasNextPage || Model.Competitors.HasPreviousPage)
        {
            <a href="/Competitions/Details?id=@Model.Id&page=@(Model.Competitors.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a href="/Competitions/Details?id=@Model.Id&page=@(Model.Competitors.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        }

        <div class="text-center">

            @if (Model.UserIsInCompetition)
            {
                if (Model.CompetitorHasBestTime)
                {
                    <a href="/Competitions/Leave?id=@Model.Id" class=" btn btn-primary">Leave Competition</a>
                }
            }
            else
            {
                <a href="/Competitions/Join?id=@Model.Id" class="btn btn-primary">Join Competition</a>
            }

            <a href="/Competitions/Index" class="btn btn-dark goBackButton">Go Back</a>
        </div>
    </div>
</div>
